.portfolio_container{
    display: grid;
    height: 560px;
    border-radius: 25px;
    
}
@keyframes background-pan {
    from{
        background-position: 0% center;
    }

    to{
        background-position: -200% center;
    }
    
}
.portfolio-container>h2{

    font-weight: bold;
    
}

.btn-container{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.img-in{
    object-fit:contain;
    height: 400px;
    border-radius: 25px;
    

}

.portfolio_items h3{
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}
.portfolio_item-cta{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
}

/* ========================MEEDIA QUERIES(MEDIUM DEVICES) */
@media screen and (max-width:1024px) {
    .portfolio_container{
       height: 470px;
    }
    .img-in{
        height: 300px;
    }
}


/* ========================MEEDIA QUERIES(SMALL DEVICES) */
@media screen and (max-width:600PX) {
    .portfolio_container{
        height: 450px;
     }
     .img-in{
         height: 300px;
     }
}
